@font-face {
    font-family: 'Ghotam';
    src: url('../fonts/Gotham-Medium.otf');
}

@font-face {
    font-family: 'Ghotam-light';
    src: url('../fonts/Gotham-Light.otf');
}

@font-face {
    font-family: 'Bold-Italika';
    src: url('../fonts/Gotham-BoldIta.otf');
}

* {
    margin: 0;
    padding: 0;
}

.my-5 {
    margin-top: 48px !important;
    margin-bottom: 48px !important;
}

.py-5 {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
}

h2,
h3,
h4 {
    font-family: 'Ghotam', serif;
    letter-spacing: 1px;
}

h2 {
    font-size: 32px;
}

p,
a,
li {
    font-family: 'Ghotam-light', serif;
    font-size: 18px;
}

a:hover {
    text-decoration: none;
}

.row {
    margin: 0;
}

/* Navbar */
.navbar-light .navbar-toggler {
    z-index: 2000;
}

.navbar {
    height: 70px;
    background: white;
    top: 0px;
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navbar-nav .nav-link {
    color: #ffffff !important;
    font-size: 1.7rem;
}

.navbar-collapse {
    -ms-flex-align: center;
    align-items: center;
    background: rgba(0, 0, 0, .6);
    height: 100vh;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.navbar-light .navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: 0;
}

.hamburguer-icon {
    position: absolute;
    width: 2.5rem;
    height: 2rem;
    overflow: hidden;
    top: 30px;
    right: 30px;
}

.hamburguer-icon span {
    position: absolute;
    width: 2.5rem;
    height: 2px;
    background-color: #000000;
    border-radius: 0.3rem;
    -webkit-transition: width .4s ease, opacity .4s ease, left .4s ease, -webkit-transform .4s ease;
    transition: width .4s ease, opacity .4s ease, left .4s ease, -webkit-transform .4s ease;
    transition: transform .4s ease, width .4s ease, opacity .4s ease, left .4s ease;
    transition: transform .4s ease, width .4s ease, opacity .4s ease, left .4s ease, -webkit-transform .4s ease;
    left: 0;
}

.hamburguer-icon span:nth-child(2),
.hamburguer-icon span:nth-child(3) {
    top: 0.8rem;
}

.hamburguer-icon span:nth-child(4) {
    top: 1.6rem;
}

.active span:nth-child(1) {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
}

.active span:nth-child(2) {
    width: 2rem;
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
    left: 50%;
    background-color: #fff;
}

.active span:nth-child(3) {
    width: 2rem;
    -webkit-transform: translateX(-50%) rotate(-45deg);
    transform: translateX(-50%) rotate(-45deg);
    left: 50%;
    background-color: #fff;
}

.active span:nth-child(4) {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
}

/* Home */
.home {
    height: 100vh;
}

.home img {
    width: 450px;
}

/* About */
.about .row img {
    margin-top: 5rem;
}

.about .question {
    position: absolute;
    width: 60px;
    right: 25%;
}

/* Mision */
.mision h2.vision::after {
    content: '';
    display: block;
    height: 3px;
    width: 40px;
    background: #000;
    position: absolute;
    top: 15px;
    left: -55px;
}

.mision h2.vision::before {
    content: '';
    display: block;
    height: 237px;
    width: 3px;
    background: #000;
    position: absolute;
    top: -222px;
    left: -55px;
}

.mision h2.mision::after {
    content: '';
    display: block;
    height: 2px;
    width: 92%;
    background: #000;
    position: absolute;
    top: 15px;
    left: -52px;
}

.mision h2.mision::before {
    content: '';
    display: block;
    height: 2px;
    width: 40px;
    background: #000;
    position: absolute;
    top: 15px;
    right: -55px;
}

.mision .estrella::after {
    content: '';
    display: block;
    height: 400px;
    width: 2px;
    background: #000;
    position: absolute;
    top: -306px;
    right: -55px;
}

.mision .estrella::before {
    content: '';
    display: block;
    height: 2px;
    width: 180px;
    background: #000;
    position: absolute;
    top: 92px;
    right: -55px;
}

/* Why */
.why,
.clients {
    background: #474a48;
    color: #ffffff;
}

/* Services */

.services h2 span {
    z-index: 25;
    color: white;
    background: #474a48;
    text-align: right;
    padding: 1rem 2rem .5rem;
    display: inline-block;
}

.services img.check {
    width: 35px;
    height: 50px;
    display: inline-block;
    margin-left: 2rem;
}

.services ul li:nth-child(even) {
    font-family: 'Ghotam', serif;
}

.services .img-servicios {
    position: absolute;
}

/* Certificaciones */
.certificate .container {
    border: 2px solid rgba(0, 0, 0, .3);
    position: relative;
}

.certificate h2 {
    position: relative;
    top: -34px;
    background: #fff;
    display: inline-block;
    padding: 1rem 2rem;
}

.certificate h3 {
    font-family: 'Ghotam-light', serif;
}

/* Events */
.events h2 span {
    background: #474a48;
    padding: .5rem 4.5rem .5rem 2rem;
    color: #ffffff;
    display: inline-block;
    margin-bottom: 2rem;
}

.events .box-events p:nth-child(odd) {
    font-family: 'Ghotam', serif;
}

/* Colaboradores */
.partners h3 {
    position: relative;
    font-size: 25px;
}

.partners a {
    font-size: 15px;
}

.partners div h3::after {
    content: '';
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    animation: abajo 5s forwards;
    -webkit-animation: abajo 5s forwards infinite;
    border-right: 1px solid #000;
}

.partners div h3::before {
    content: 'v';
    font-family: 'Ghotam-light', serif;
    font-weight: normal;
    position: absolute;
    right: -11px;
    height: 1px;
    top: -28px;
    animation: ancho 5s forwards infinite;
    -webkit-animation: ancho 5s forwards infinite;
}

/* span {
    display: inline-block;
    background: re;
    animation-name: prueba;
    animation-duration: 6s;
    animation-iteration-count: infini;
    height: 0;
    position: absolute;
    top: 0;
    animation-fill-mode: forwards;
    border-left: 1px solid #000;
}

@keyframes prueba {
    0% {
        height: 0px;
    }

    50% {
        height: 85px;
        width: 0;
    }

    100% {
        height: 85px;
        width: 200px;
        border-bottom: 1px solid #000;
    }
} */

.partners h3,
.partners h4 {
    font-family: 'Ghotam-light', serif;
}

.partners h4 {
    font-size: 20px;
}

.partners a {
    color: #000;
}

/* Footer */
footer {
    background: #474a48;
}

footer ul li {
    list-style: none;
}

footer a {
    color: #ffffff;
    font-size: 13px;
}

footer a:hover {
    color: #D5D7D6;
}

@media (min-width:1200px) {
    .services .img-servicios {
        width: 430px;
        left: -200px;
        top: -80px;
    }
}

@media (max-width:1199px) {
    .services .img-servicios {
        width: 400px;
        left: -140px;
        top: -70px;
    }

    .mision h2.vision::before {
        left: -5px;
    }

    .mision h2.vision::after {
        left: -5px;
    }

    .mision h2.mision::after {
        width: 78%;
        top: 15px;
        left: -2px;
    }

    .mision .estrella::before {
        width: 110px;
        top: 110px;
        right: -15px;
    }

    .mision .estrella::after {
        height: 416px;
        top: -306px;
        right: -15px;
    }

    .mision h2.mision::before {
        right: -15px;
    }

    .partners h3 {
        font-size: 22px;
    }

    .partners p {
        font-size: 15px;
    }

    .partners a {
        font-size: 13px;
    }
}

@media (max-width:991px) {
    .services .img-servicios {
        position: relative;
        top: 0;
        left: 0;
        margin-top: 2rem;
    }

    .partners h3 {
        font-size: 24px;
    }

    .partners h4 {
        font-size: 18px;
    }

    .partners a {
        font-size: 14px;
    }

    .mision h2.vision::before {
        height: 250px;
        top: -235px;
    }

    .mision h2.mision::after {
        width: 72%;
    }

    .mision .estrella::after {
        height: 430px;
        top: -320px;
    }

    .mision .estrella::before {
        width: 70px;
    }
}

@media (max-width:767px) {
    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 22px;
    }

    p,
    a,
    li {
        font-size: 16px;
    }

    .navbar-nav .nav-link {
        font-size: 1.3rem;
    }

    .home img {
        max-width: 60%;
    }

    .about .question {
        width: 40px;
        right: 25%;
        top: -25px;
    }

    .services .img-servicios {
        max-width: 90%;
    }

    .mision h2.vision::before,
    .mision h2.vision::after,
    .mision h2.mision::before,
    .mision h2.mision::after,
    .mision .estrella::before,
    .mision .estrella::after {
        display: none;
    }

    footer ul {
        flex-direction: column;
        text-align: center
    }

    footer a.privacity {
        display: block;
        border-top: 1px solid;
        width: 100%;
        text-align: center;
        padding-top: 2rem;
    }
}

@keyframes abajo {
    0% {
        height: 0px;
        width: 0;
    }

    50% {
        height: 85px;
        width: 0;
    }

    55% {
        height: 85px;
        width: 0;
    }

    60% {
        height: 85px;
        width: 0px;
    }

    100% {
        height: 85px;
        width: 80px;
        border-bottom: 1px solid;
    }

}

@keyframes ancho {
    0% {
        top: 0;
    }

    50% {
        right: -11px;
        top: 64px;
        transform: rotate(0deg);
    }

    55% {
        top: 85px;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        right: -21px;
    }

    60% {
        top: 85px;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        right: -21px;
    }

    100% {
        top: 85px;
        right: 50px;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }

}